* {
  --grey: #555555;
  --green: #49AE66;
  --yellow: #FFDF3C;
  --scrim: #A5B5CC;
  --dark-blue: #A5B5CCFF;
  --light-blue: #BFDCE8FF;
  --middle-grey: #808080;
  color: var(--grey);
}

h2 {
    margin: 30px 0;
    font-weight: normal;
}

h3 {
    color: #808080;
}