* {
  --grey: #555555;
  --green: #49AE66;
  --yellow: #FFDF3C;
  color: var(--grey);
  --dark-blue: #a5b5cc;
  --middle-grey: #808080;
  --light-blue: #BFDCE8FF;
  --scrim: rgba(165, 181, 204, 0.5);
}

h2 {
    margin: 30px 0;
    font-weight: normal;
}

h3 {
    color: #808080;
}